.sobrenos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    align-self: center;
    justify-self: center;
    gap: 30px;
    color: #fff;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 50px 40px;
    height: 100%;
}

.sobrenos img {    
    width: 250px;
}

.sobrenos p {
    margin-top: 25px;
    font-size: 17px;
}

.sobrenos h1 {
    font-size: 32px;
}

@media (max-width: 900px) {
    .sobrenos {
        width: 100%;
        flex-direction: column;
    }

    .sobrenos p {
        font-size: 16px;
    }

    .sobrenos h1 {
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .sobrenos {
        padding: 35px 30px;
    }
}

@media (max-width: 500px) {
    .sobrenos img {    
        width: 180px;
    }

    .sobrenos p {
        font-size: 15px;
    }

    .sobrenos h1 {
        font-size: 29px;
    }
}

@media (max-width: 380px) {
    .sobrenos {
        padding: 25px 20px;
    }
}