.listagem {
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
}

.loading {
    color: #fff;
    font-size: 60px;
    align-self: center;
}

.msgErro {
    color: #fff;
    align-self: center;
    font-size: 18px;
}

.botaoCarregar {
    background-color: #292929;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    border: 0;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 18px;
    align-self: center;
    transition: 150ms;
}

.botaoCarregar:hover {
    cursor: pointer;
    background-color: #4d4d4d;
}

@media (max-width: 600px) {
    .listagem {
        padding: 35px 30px;
    }

    .botaoCarregar {
        margin-top: 40px;
    }
}
  
@media (max-width: 380px) {
    .listagem {
        padding: 25px 20px;
    }
}