.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #fff;
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    align-self: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 50px 40px;
    height: 100%;
    display: flex;
}

.error img {    
    width: 35%;
}

.error p {
    margin-top: 25px;
}

.error h1 {
    font-size: 40px;
    text-align: center;
}

.error div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.botaoRedirecionar {
    background-color: #13315C;
    color: #fff;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    width: 220px;
    min-height: 70px;
    border: 0;
    font-size: 16px;
}

.botaoRedirecionar:hover {
    cursor: pointer;
    background-color: #06162e;
}

@media (max-width: 1300px) {
    .error img {
        width: 50%;
    }

    .botaoRedirecionar {
        width: 180px;
    }
}

@media (max-width: 900px) {
    .error img {
        width: 65%;
    }
}

@media (max-width: 650px) {
    .error {
        width: 100%;
    }

    .error img {
        width: 80%;
    }

    .error h1 {
        font-size: 31px;
    }
}

@media (max-width: 600px) {
    .error {
        padding: 35px 30px;
    }
}

@media (max-width: 500px) {
    .error img {
        width: 100%;
    }

    .error div {
        flex-direction: column;
    }
}

@media (max-width: 380px) {
    .error {
        padding: 25px 20px;
    }
}